[submodule "tensorflow"]
	path = tensorflow
	url = git@github.com:tensorflow/tensorflow.git
[submodule "tf_models"]
	path = tf_models
	url = git@github.com:tensorflow/models.git
[submodule "models"]
	path = models
	url = git@github.com:addappio/datascience-models.git
[submodule "http"]
	path = http
	url = git@github.com:addappio/serving-http.git
	branch = develop
